body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #2E3644;
}
.black-scr {
	position: fixed;
	content: '';
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 0;
	z-index: 0;
	background: rgba(0, 0, 0, 0.1);
}
body.open .black-scr {
	opacity: 1;
}
body.open {
	overflow-y: hidden;
}
.wrap {
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.container {
	width: 1180px;
	margin: 0 auto;
}
li {
	display: block;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}
div,
p,
ul,
li,
span,
button,
input,
a,
form,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	color: #005EB3;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:hover {
	text-decoration: underline;
}
.title {
	font-weight: 900;
	font-size: 48px;
	line-height: 59px;
	color: #FFFFFF;
}
.title-l {
	font-weight: 800;
	font-size: 32px;
	line-height: 39px;
	color: #121E52;
}

textarea:active,
textarea:focus {
	outline: none;
}
input[type=text],
input[type=submit],
textarea {
	-webkit-appearance: none;
}
input {
	border: 0;
	outline: none;
}
.menu_btn,
.header__help {
	display: none;
}
.btn {
	padding: 15px;
	text-align: center;
	font-weight: 800;
	font-size: 32px;
	line-height: 39px;
	color: #121E52;
	background: #005EB3;
	-webkit-border-radius: 90px;
	   -moz-border-radius: 90px;
	        border-radius: 90px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
.btn:hover {
	text-decoration: none;
}
.center {
	text-align: center;
}

/* -----------------------------Header---------------------------- */

.header {
	padding: 26px 0 288px;
	background: #2E3644;
}
.header__top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.logo:hover {
	text-decoration: none;
}
.header__top-r {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 65%;
}
.header__top-adress {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__top-adress:hover .header__top-adrtxt {
	color: #B9DEFF;
}
.header__top-adress:hover svg {
	fill: #B9DEFF;
}
.header__top-adress svg {
	margin-right: 16px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header__top-adrtxt {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #EDF1F4;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
} 
.your-addr {
	display: block;
}
.top-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	color: #EDF1F4;
	-webkit-border-radius: 90px;
	   -moz-border-radius: 90px;
	        border-radius: 90px;
}
.top-btn:hover {
	text-decoration: none;
}
.login-btn:hover {
	color: #B9DEFF;
	border: 1px solid rgba(185,222,255,0.25);
}
.login-btn:hover svg {
	fill: #B9DEFF;
}
.login-btn svg {
	margin-right: 9px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.login-btn {
	padding: 16px 37px 16px 30px;
	border: 1px solid rgba(237,241,244,0.25);
}
.add-btn {
	background: #ED4622;
	padding: 9px 27px 11px 23px;
}
.add-btn-help {
	background: #DC3B19;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	margin-right: 6px;
	width: 30px;
	height: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.add-btn:hover {
	background: #DC3B19;
	color: #EDF1F4;
}
.add-btn:hover .add-btn-help {
	background: #ED4622;
}
.header__nav ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: #353E4E;
	-webkit-box-shadow: 0px -1px 20px 3px rgba(0, 0, 0, 0.25);
	   -moz-box-shadow: 0px -1px 20px 3px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px -1px 20px 3px rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
			padding: 8px 5px 8px 9px;
}
.header__nav ul li {
	text-align: center;
	padding: 8px 0;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	   -moz-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}
.header__nav ul li:not(:last-child) {
	border-right: 1px solid rgba(237,241,244,0.15);
}
.header__nav ul li a {
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
}
.header__nav ul li a:hover {
	color: #B9DEFF;
	text-decoration: none;
}
.more a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.more a::after {
	content: '';
	display: block;
	width: 12px;
	height: 7px;
	background: url('../img/arrow-menu.png') no-repeat 0 0 / cover;
	margin-left: 7px;
}



/* ----unic---- */
.uniq {
	padding: 32px 0;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(252,227,222,1) 35%, rgba(252,227,222,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(35%, rgba(255,255,255,1)), color-stop(35%, rgba(252,227,222,1)), color-stop(100%, rgba(252,227,222,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(252,227,222,1) 35%, rgba(252,227,222,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(252,227,222,1) 35%, rgba(252,227,222,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), color-stop(35%, rgba(255,255,255,1)), color-stop(35%, rgba(252,227,222,1)), to(rgba(252,227,222,1)));
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(252,227,222,1) 35%, rgba(252,227,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fce3de', GradientType=0 );}
.title__top {
	margin-bottom: 25px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 90%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.oblast,
.sity {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}
.show-map {
	font-size: 16px;
	line-height: 20px;
	color: #0E8CFE;
	position: relative;
}
.show-map:after {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	right: -20px;
	background: url('../img/arrow-map.png') no-repeat 0 0 / cover;
	width: 15px;
	height: 9px;
}
.uniq__slider .slick-list {
	padding-top: 13px !important;
}
.unic__card-help {
	width: 238px !important;
	padding: 0 6.5px;
}
.unic__card-wrap {
	position: relative;
}
.unic__card {
	display: block;
	overflow: hidden;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.slick-active .unic__card-wrap:hover .unic__card {
	text-decoration: none;
	-webkit-transform: translateY(-13px);
	   -moz-transform: translateY(-13px);
	    -ms-transform: translateY(-13px);
	     -o-transform: translateY(-13px);
	        transform: translateY(-13px);
}
.slick-active .unic__card-wrap:hover .unic__izb {
	top: -13px;
}
.slick-active .unic__card:hover .unic__title {
	color: #ED4622;
}
.unic__img {
	position: relative;
	display: block;
	overflow: hidden;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.unic__img img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	   object-fit: cover;
}
.unic__best {
	position: absolute;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: #FFFFFF;
	padding: 2px 8px;
	bottom: 0;
	right: 0;
	background: #067B53;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.unic__best.good {
	background: #63B89B;
}
.unic__izb {
	display: block;
	position: absolute;
	top: 0;
	right: 7px;
	opacity: 0.45;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.slick-active .unic__izb:hover,
.slick-active .unic__izb.active {
	opacity: 1;
}
.unic__txt {
	display: block;
	padding: 11px 11px 13px 14px;
	background: #fff;
}
.slick-slide:focus {
	border: none;
	outline: none;
}
.unic__title {
	display: block;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 4px;
	color: #121E52;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.unic__bottom {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.unic__price {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #121E52;
}
.unic__date {
	font-size: 13px;
	line-height: 16px;
	color: #121E52;
	opacity: 0.55;
}
.uniq__slider .slick-slide .unic__card-wrap::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.55;
	top: 0;
	left: 0;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.uniq__slider .slick-active .unic__card-wrap::after {
	opacity: 0;
}


/* ----salon---- */
.salon {
	padding: 36px 0 64px;
}
.salon .title-l {
	margin-bottom: 38px;
}
.salon__card {
	background: #2E3644;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	position: relative;
	overflow: hidden;
	padding: 20px 24px 165px;
}
.salon__wrap {
	counter-reset: item2;
	margin: -10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.salon__card-wrap {
	width: 25%;
	padding: 10px;
}
.salon__card::before {
	content: '';
	display: block;
	position: absolute;
	width: 359px;
	height: 359px;
	z-index: 1;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background: #ED4622;
}
.salon__card-wrap:nth-child(1) .salon__card::before {
	top: -200px;
	left: -101px;
}
.salon__card-wrap:nth-child(2) .salon__card::before {
	bottom: -161px;
	left: -129px;
}
.salon__card-wrap:nth-child(3) .salon__card::before {
	top: -188px;
	right: -111px;
}
.salon__card-wrap:nth-child(4) .salon__card::before {
	bottom: -186px;
	right: -64px;
}
.salon__card::after {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	width: 71%;
	z-index: 3;
	background: -webkit-radial-gradient(1.95% 3.59%, 98.05% 261.61%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
	background: -moz-radial-gradient(1.95% 3.59%, 98.05% 261.61%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
	background: -o-radial-gradient(1.95% 3.59%, 98.05% 261.61%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
	background: radial-gradient(98.05% 261.61% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
	-webkit-backdrop-filter: blur(17px);
	        backdrop-filter: blur(17px);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.salon__card-txt {
	position: relative;
	z-index: 4;
	color: #fff;
}
.salon__card-tit {
	font-weight: 800;
	font-size: 28px;
	line-height: 34px;
}
.salon__card-price {
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 17px;
}
.salon__card-link {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #EDF1F4;
	-webkit-transition: none;
	-o-transition: none;
	-moz-transition: none;
	transition: none;
}
.salon__card-link:hover {
	font-weight: 700;
}
.salon__card-help {
	position: relative;
}
.salon__card-help::before {
	content: '0'counter(item2);
	counter-increment: item2; 
	position: absolute;
	top: 70px;
	left: 173px;
	font-weight: 900;
	font-size: 72px;
	line-height: 88px;
	color: #FFFFFF;
	opacity: 0.1;
	z-index: 4;
}
.salon__card-help::after {
	content: '';
	display: block;
	position: absolute;
	z-index: 4;
}
.salon__card-wrap:nth-child(1) .salon__card-help::after {
	width: 256px;
	height: 162px;
	left: 12px;
	bottom: -45px;
	background: url('../img/salon1.png') no-repeat 0 0 / cover;
}
.salon__card-wrap:nth-child(2) .salon__card-help::after {
	width: 302px;
	height: 153px;
	left: -15px;
	bottom: -42px;
	background: url('../img/salon2.png') no-repeat 0 0 / cover;
}
.salon__card-wrap:nth-child(3) .salon__card-help::after {
	width: 317px;
	height: 182px;
	left: -21px;
	bottom: -52px;
	background: url('../img/salon3.png') no-repeat 0 0 / cover;
}
.salon__card-wrap:nth-child(4) .salon__card-help::after {
	width: 363px;
	height: 218px;
	left: -43px;
	bottom: -73px;
	background: url('../img/salon4.png') no-repeat 0 0 / cover;
}

/* ---arenda--- */

.arenda {
	padding: 50px 0 34px;
}

.arenda .title__top {
	margin-bottom: 35px;
}

.arenda__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.arenda__wrap::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #f6f8f9;
	left: 48%;
	z-index: 1;
}
.arenda__search {
	width: 49%;
	position: relative;
	z-index: 2;
	background: #FFFFFF url('../img/arenda-bg.png') no-repeat left bottom;
	padding: 20px 16px 26px;
	border: 0.5px solid #0E8CFE;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 89, 169, 0.1);
	   -moz-box-shadow: 10px 10px 20px rgba(0, 89, 169, 0.1);
	        box-shadow: 10px 10px 20px rgba(0, 89, 169, 0.1);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.arenda__title {
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: #121E52;
}
.arenda__search .arenda__title {
	margin-bottom: 16px;
}
.arenda__type {
	background: #FFFFFF;
	padding: 4px 5px;
	border: 2px solid #EDF1F4;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 22px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.arenda__zayavka .arenda__type {
	margin-bottom: 2px;
}
.arenda__type li {
	padding: 7px 12px 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 0.65;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.arenda__type li svg {
	margin-left: 12px;
}
.arenda__type li svg g,
.arenda__type li svg path {
	-webkit-transition: fill 0.3s ease;
	-o-transition: fill 0.3s ease;
	-moz-transition: fill 0.3s ease;
	transition: fill 0.3s ease;
}
.arenda__type li:hover,
.arenda__type li.active {
	background: #EDF1F4;
	color: #005EB3;
	opacity: 1;
}
.arenda__type li:hover svg g,
.arenda__type li:hover svg path,
.arenda__type li.active svg g,
.arenda__type li.active svg path {
	fill: #005EB3;
}

.arenda__zayavka {
	position: relative;
	z-index: 2;
	width: 49%;
	padding: 20px 0 26px;
}
.arenda__form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 4px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.arenda__form-item {
	width: 48%;
	margin-bottom: 23px;
	background: #FFFFFF;
	border: 2px solid #EDF1F4;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.arenda__form-select select {
	padding: 13px 17px 12px;
	font-size: 16px;
	line-height: 20px;
	color: rgba(46, 54, 68, 0.65);
	display: block;
	width: 100%;
	border: none;
}
.arenda__form-select {
	position: relative;
}
.arenda__form-select:after {
	content: '';
	display: block;
	position: absolute;
	width: 12px;
	height: 9px;
	background: url('../img/arrow-arenda.png') no-repeat 0 0 / cover;
	top: 0;
	right: 13px;
	bottom: 0;
	margin: auto 0;
	opacity: 0.65;
	pointer-events: none;
}
.arenda__form-select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  }
.arenda__form-select select:focus {
	border: none;
	outline: none;
}
.arenda__form-inputs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.arenda__form-inputs input {
	width: 50%;
	padding: 13px 17px 12px;
	font-size: 16px;
	line-height: 20px;
	color: rgba(46, 54, 68, 0.65);
	font-family: 'Montserrat', sans-serif;
}
.arenda__form-inputs input:first-child {
	border-right: 2px solid #EDF1F4;
}
.arenda__form-inputs input::-webkit-input-placeholder {
	font-size: 16px;
	line-height: 20px;
	color: rgba(46, 54, 68, 0.65);
}
.arenda__form-inputs input:-moz-placeholder {
	font-size: 16px;
	line-height: 20px;
	color: rgba(46, 54, 68, 0.65);
}
.arenda__form-inputs input::-moz-placeholder {
	font-size: 16px;
	line-height: 20px;
	color: rgba(46, 54, 68, 0.65);
}
.arenda__form-inputs input:-ms-input-placeholder {
	font-size: 16px;
	line-height: 20px;
	color: rgba(46, 54, 68, 0.65);
}
.arenda__form-inputs input::-ms-input-placeholder {
	font-size: 16px;
	line-height: 20px;
	color: rgba(46, 54, 68, 0.65);
}
.arenda__form-inputs input::placeholder {
	font-size: 16px;
	line-height: 20px;
	color: rgba(46, 54, 68, 0.65);
}

.arenda__form-wrap {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 32px;
}
.arenda__form-radio:first-child {
	margin-right: 27px;
}
.arenda__form-radio input {
	display: none;
}
.arenda__form-radio label {
	font-size: 16px;
	line-height: 20px;
	padding-left: 50px;
	position: relative;
	cursor: pointer;
	color: rgba(46, 54, 68, 0.65);
}
.arenda__form-radio label::before {
	content: '';
	display: block;
	width: 41px;
	height: 20px;
	background: #C4C4C4;
	-webkit-border-radius: 90px;
	   -moz-border-radius: 90px;
	        border-radius: 90px;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.arenda__form-radio label::after {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	background: #EDF1F4;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	position: absolute;
	left: 2px;
	top: 2px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.arenda__form-radio input:checked ~ label::before {
	background: #0E8CFE;
}
.arenda__form-radio input:checked ~ label::after {
	left: 23px;
}
.arenda__form-bottom {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: auto;
}
.arenda__form-save {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-right: 22px;
	line-height: 17px;
	color: #0E8CFE;
	cursor: pointer;
}
.arenda__form-save svg {
	margin-left: 7px;
}
.arenda__form-submit {
	background: #ED4622;
	-webkit-border-radius: 90px;
	   -moz-border-radius: 90px;
	        border-radius: 90px;
	padding: 16px 33px 16px 50px;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #EDF1F4;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.arenda__form-help {
	position: relative;
}
.arenda__form-help::before {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background: #DC3B19 url('../img/search.png') no-repeat center center;
	left: 14px;
	top: 9px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.arenda__form-help:hover .arenda__form-submit {
	background: #DC3B19;
}
.arenda__form-help:hover::before  {
	background: #ED4622 url('../img/search.png') no-repeat center center;
}

.arenda__zayavka-top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 16px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.arenda__zayavka-time {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-weight: 500;
	line-height: 17px;
	color: #000000;
}
.arenda__zayavka-time span {
	display: inline-block;
	margin-right: 12px;
}
.arenda__zayavka-time ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.arenda__zayavka-time ul li:not(:last-child) {
	margin-right: 12px;
}
.arenda__zayavka-time ul li a {
	color: #000;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}
.arenda__zayavka-time ul li a:hover {
	color: #0E8CFE;
}
.arenda__zayavka-slider {
	margin: 0 -10px 2px;
}
.arenda__zayavka-cardwrap {
	padding:20px 10px;
}
.arenda__zayavka-card {
	display: block;
	position: relative;
	overflow: hidden;
	background: #FFFFFF;
	padding: 13px 18px 17px 16px;
	-webkit-box-shadow: 5px 5px 12px rgba(0, 89, 169, 0.15);
	   -moz-box-shadow: 5px 5px 12px rgba(0, 89, 169, 0.15);
	        box-shadow: 5px 5px 12px rgba(0, 89, 169, 0.15);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.arenda__zayavka-title {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	display: block;
	margin-bottom: 8px;
	color: #0E8CFE;
}
.arenda__zayavka-card p {
	font-size: 13px;
	line-height: 18px;
	color: #2E3644;
	overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    height: 72px; 
	margin-bottom: 10px;
}
.arenda__zayavka-bottom {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.arenda__zayavka-contact {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	margin-right: 19px;
	color: #121E52;
	display: inline-block;
}
.arenda__zayavka-date {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #121E52;
}
.arenda__zayavka-icon {
	width: 51px;
	height: 51px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: absolute;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background: #EDF1F4;
	right: 9px;
	bottom: -25px;
	padding-top: 3px;
}
.arenda__zayavka-card:hover {
	text-decoration: none;
}
.arenda__zayavka-card:hover .arenda__zayavka-title,
.arenda__zayavka-card:hover .arenda__zayavka-contact {
	color: #ED4622;
}
.arenda__zayavka-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.arenda__forslider,
.arenda__arrows {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.arenda__arrows {
	margin-right: 24px;
}
.arenda__arrow {
	background: #FFFFFF;
	border: 0.5px solid #0E8CFE;
	-webkit-box-shadow: 5px 5px 20px rgba(0, 89, 169, 0.15);
	   -moz-box-shadow: 5px 5px 20px rgba(0, 89, 169, 0.15);
	        box-shadow: 5px 5px 20px rgba(0, 89, 169, 0.15);
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 35px;
	height: 35px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.arenda__arrow:hover {
	background: #0E8CFE;
}
.arenda__arrow:hover path {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.arenda__arrow:hover path {
	fill: #fff;
}
.arenda__arrow-l {
	margin-right: 9px;
}
.slides-numbers {
	font-size: 15px;
	line-height: 18px;
	color: #0E8CFE;
}
.active-num {
	font-size: 22px;
	line-height: 27px;
}
.arenda-btn {
	background: #0E8CFE;
	-webkit-border-radius: 90px;
	   -moz-border-radius: 90px;
	        border-radius: 90px;
	padding: 16px 17px;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
}
.arenda-btn:hover {
	text-decoration: none;
}